<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
            <Component Id="CMP_CopyCliAlias" Guid="*">
                <File Id="FILE_CliAliasBat" Source="ddseditor.bat" KeyPath="yes">
                    <CopyFile Id="Copy_CliAliasBat" DestinationDirectory="TARGETDIR" DestinationName="ddseditor.bat" />
                </File>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>